/* badges */

.badge-outline-dark {
  font-size: 10px;
  line-height: normal;
  padding: 5px 10px;
  font-weight: normal;
  border-radius: 2px;
  color: $dark;
  border: 1px solid $dark;
  font-weight: 600;
}

.badge-danger
{
  color: $white !important;
  background-color: $danger;
  a {
    color: $white !important;
    text-decoration: none !important;
  }
}

.badge-dark {
  color: $white;
  background-color: $black;
  a {
    color: $white !important;
    text-decoration: none !important;
  }
}
