  <footer class="mt-auto">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="d-flex justify-content-between align-items-center">
              {% if page.nav_branding %}
                <div> {{ page.nav_branding }} </div>
              {% endif %}
            </div>
            <h5 class="font-weight-normal mt-4 mb-5">
              {{ page.quick_about }}
            </h5>
            <div class="social-icons">
              {{ page.social_icons }}
            </div>
            <!--ul class="social-media mb-3">
              <li>
                <a href="#">
                  <i class="mdi mdi-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-twitter"></i>
                </a>
              </li>
            </ul> -->
          </div>
          <div class="col">
            {{ page.footer }}
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="d-sm-flex justify-content-between align-items-center">
                <div class="fs-14 font-weight-600">
                  © 2022 Another news website as pet-project <a href="https://t.me/metaclown" target="_blank" class="text-white">by Vidnik</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
