<div class="container">
  <div class="row">
      <div class="col-sm">{{ page.line_banner }}</div>
      <div class="col-sm d-flex align-items-center justify-content-end align-items-end date">
        <b class="mr-3 text-danger">{{ 'now'|date('D, F j, Y') }}</b>
    </div>
  </div>
</div>
